Evaluating Synthetic Data
=========================

A very common question when someone starts using **SDV** to generate
synthetic data is: *\"How good is the data that I just generated?\"*

In order to answer this question, **SDV** has a collection of metrics
and tools that allow you to compare the *real* that you provided and the
*synthetic* data that you generated using **SDV** or any other tool.

In this guide we will show you how to perform this evaluation and how to
explore the different metrics that exist.

Using the SDV Evaluation Framework
----------------------------------

To evaluate the quality of synthetic data we essentially need two
things: *real* data and *synthetic* data that pretends to resemble it.

Let us start by loading a demo table and generate a synthetic replica of
it using the `GaussianCopula` model.

In [1]:
from sdv.demo import load_tabular_demo
from sdv.tabular import GaussianCopula

real_data = load_tabular_demo('student_placements')

model = GaussianCopula()
model.fit(real_data)
synthetic_data = model.sample()

After the previous steps we will have two tables:

-   `real_data`: A table containing data about student placements

In [2]:
real_data.head()

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17264,M,67.00,91.00,Commerce,58.00,Sci&Tech,False,0,55.0,Mkt&HR,58.80,27000.0,True,2020-07-23,2020-10-12,3.0
1,17265,M,79.33,78.33,Science,77.48,Sci&Tech,True,1,86.5,Mkt&Fin,66.28,20000.0,True,2020-01-11,2020-04-09,3.0
2,17266,M,65.00,68.00,Arts,64.00,Comm&Mgmt,False,0,75.0,Mkt&Fin,57.80,25000.0,True,2020-01-26,2020-07-13,6.0
3,17267,M,56.00,52.00,Science,52.00,Sci&Tech,False,0,66.0,Mkt&HR,59.43,NaN,False,NaT,NaT,NaN
4,17268,M,85.80,73.60,Commerce,73.30,Comm&Mgmt,False,0,96.8,Mkt&Fin,55.50,42500.0,True,2020-07-04,2020-09-27,3.0

-   `synthetic_data`: A synthetically generated table that contains data
    in the same format and with similar statistical properties as the
    `real_data`.

In [3]:
synthetic_data.head()

,student_id,gender,second_perc,high_perc,high_spec,degree_perc,degree_type,work_experience,experience_years,employability_perc,mba_spec,mba_perc,salary,placed,start_date,end_date,duration
0,17416,M,70.936001,69.482109,Science,66.289391,Sci&Tech,False,1,65.684688,Mkt&Fin,62.409394,33869.579424,True,2020-01-07,2020-02-11,3.0
1,17444,F,70.062691,71.400706,Science,67.041579,Sci&Tech,False,1,86.297248,Mkt&HR,64.145602,30133.601419,True,2020-02-20,2020-11-17,12.0
2,17293,M,66.612260,57.877376,Commerce,68.006575,Comm&Mgmt,False,0,58.463562,Mkt&Fin,60.965894,NaN,False,NaT,NaT,NaN
3,17472,M,62.741438,82.492006,Commerce,80.350905,Comm&Mgmt,False,0,96.836565,Mkt&Fin,56.523447,24671.632591,True,2020-02-07,2020-10-17,3.0
4,17404,M,78.886318,88.115631,Science,73.017519,Sci&Tech,False,0,79.929776,Mkt&HR,81.165570,28932.118957,True,2020-10-03,2020-06-07,3.0

<div class="alert alert-info">

**Note**

For more details about this process, please visit the
[gaussian_copula](gaussian_copula.ipynb) guide.

</div>

### Computing an overall score

The simplest way to see how similar the two tables are is to import the
`sdv.evaluation.evaluate` function and run it passing both the
`synthetic_data` and the `real_data` tables.

In [4]:
from sdv.evaluation import evaluate

evaluate(synthetic_data, real_data)

0.7608884519558459

The output of this function call will be a number between 0 and 1 that
will indicate us how similar the two tables are, being 0 the worst and 1
the best possible score.

### How was the obtained score computed?

The `evaluate` function applies a collection of pre-configured metric
functions and returns the average of the scores that the data obtained
on each one of them. In most scenarios this can be enough to get an idea
about the similarity of the two tables, but you might want to explore
the metrics in more detail.

In order to see the different metrics that were applied you can pass and
additional argument `aggregate=False`, which will make the `evaluate`
function return a dictionary with the scores that each one of the
metrics functions returned:

In [5]:
evaluate(synthetic_data, real_data, aggregate=False)

{'cstest': 0.8754355392283044,
 'kstest': 0.5755700523428331,
 'logistic_detection': 0.7947467469425606,
 'svc_detection': 0.7785068176549007}

### Can I control which metrics are applied?

By default, the `evaluate` function will apply all the metrics that are
included within the SDV Evaluation framework. However, the list of
metrics that are applied can be controlled by passing a list with the
names of the metrics that you want to apply.

For example, if you were interested on obtaining only the `cstest` and
`kstest` metrics you can call the `evaluate` function as follows:

In [6]:
evaluate(synthetic_data, real_data, metrics=['cstest', 'kstest'])

0.7255027957855688

Or, if we want to see the scores separately:

In [7]:
evaluate(synthetic_data, real_data, metrics=['cstest', 'kstest'], aggregate=False)

{'cstest': 0.8754355392283044, 'kstest': 0.5755700523428331}

The complete list of possible metrics is:

-   `cstest`: This metric compares the distributions of all the
    categorical columns of the table by using a Chi-squared test and
    returns the average of the `p-values` obtained across all the
    columns. If the tables that you are evaluating do not contain any
    categorical columns the result will be `nan`.
-   `kstest`: This metric compares the distributions of all the
    numerical columns of the table with a two-sample Kolmogorov--Smirnov
    test using the empirical CDF and returns the average of the
    `p-values` obtained across all the columns. If the tables that you
    are evaluating do not contain any numerical columns the result will
    be `nan`.
-   `logistic_detection`: This metric tries to use a Logistic Regression
    classifier to detect whether each row is real or synthetic and then
    evaluates its performance using an Area under the ROC curve metric.
    The returned score is 1 minus the ROC AUC score obtained by the
    classifier.
-   `svc_detection`: This metric tries to use an Support Vector
    Classifier to detect whether each row is real or synthetic and then
    evaluates its performance using an Area under the ROC curve metric.
    The returned score is 1 minus the ROC AUC score obtained by the
    classifier.