HMA1 Class
==========

In this guide we will go through a series of steps that will let you
discover functionalities of the `HMA1` class.

What is HMA1?
-------------

The `sdv.relational.HMA1` class implements what is called a
*Hierarchical Modeling Algorithm* which is an algorithm that allows to
recursively walk through a relational dataset and apply tabular models
across all the tables in a way that lets the models learn how all the
fields from all the tables are related.

Let's now discover how to use the `HMA1` class.

Quick Usage
-----------

We will start by loading and exploring one of our demo datasets.

In [1]:
from sdv import load_demo

metadata, tables = load_demo(metadata=True)

This will return two objects:

1.  A `Metadata` object with all the information that **SDV** needs to
    know about the dataset.

In [2]:
metadata

Metadata
  root_path: .
  tables: ['users', 'sessions', 'transactions']
  relationships:
    sessions.user_id -> users.user_id
    transactions.session_id -> sessions.session_id

In [3]:
metadata.visualize()

For more details about how to build the `Metadata` for your own dataset,
please refer to the [relational_metadata](relational_metadata.ipynb)
Guide.

2.  A dictionary containing three `pandas.DataFrames` with the tables
    described in the metadata object.

In [4]:
tables

{'users':    user_id country gender  age
 0        0      US      M   34
 1        1      UK      F   23
 2        2      ES   None   44
 3        3      UK      M   22
 4        4      US      F   54
 5        5      DE      M   57
 6        6      BG      F   45
 7        7      ES   None   41
 8        8      FR      F   23
 9        9      UK   None   30,
 'sessions':    session_id  user_id  device       os
 0           0        0  mobile  android
 1           1        1  tablet      ios
 2           2        1  tablet  android
 3           3        2  mobile  android
 4           4        4  mobile      ios
 5           5        5  mobile  android
 6           6        6  mobile      ios
 7           7        6  tablet      ios
 8           8        6  mobile      ios
 9           9        8  tablet      ios,
 'transactions':    transaction_id  session_id           timestamp  amount  approved
 0               0           0 2019-01-01 12:34:32   100.0      True
 1               1           0 2019-01-01 12:42:21    55.3      True
 2               2           1 2019-01-07 17:23:11    79.5      True
 3               3           3 2019-01-10 11:08:57   112.1     False
 4               4           5 2019-01-10 21:54:08   110.0     False
 5               5           5 2019-01-11 11:21:20    76.3      True
 6               6           7 2019-01-22 14:44:10    89.5      True
 7               7           8 2019-01-23 10:14:09   132.1     False
 8               8           9 2019-01-27 16:09:17    68.0      True
 9               9           9 2019-01-29 12:10:48    99.9      True}

Let us now use the `HMA1` class to learn this data to be ready to sample
synthetic data about new users. In order to do this you will need to:

-   Import the `sdv.relational.HMA1` class and create an instance of it
    passing the `metadata` that we just loaded.
-   Call its `fit` method passing the `tables` dict.

In [5]:
from sdv.relational import HMA1

model = HMA1(metadata)
model.fit(tables)

<div class="alert alert-info">

**Note**

During the previous steps SDV walked through all the tables in the
dataset following the relationships specified by the metadata, learned
each table using a [gaussian_copula](gaussian_copula.ipynb) and
then augmented the parent tables using the copula parameters before
learning them. By doing this, each copula model was able to learn how
the child table rows were related to their parent tables.

</div>

### Generate synthetic data from the model

Once the training process has finished you are ready to generate new
synthetic data by calling the `sample_all` method from your model.

In [6]:
new_data = model.sample()

This will return a dictionary of tables identical to the one which the
model was fitted on, but filled with new data which resembles the
original one.

In [7]:
new_data

{'users':    user_id country gender  age
 0        0      BG      F   42
 1        1      ES      F   61
 2        2      ES      F   43
 3        3      UK      F   34
 4        4      US      F   36
 5        5      UK      M   24
 6        6      US      M   31
 7        7      DE      F   45
 8        8      BG      F   38
 9        9      ES      M   36,
 'sessions':     session_id  user_id  device       os
 0            0        0  mobile  android
 1            1        1  mobile      ios
 2            2        2  mobile  android
 3            3        4  mobile      ios
 4            4        5  tablet      ios
 5            5        6  mobile  android
 6            6        7  tablet  android
 7            7        7  tablet  android
 8            8        7  tablet  android
 9            9        8  mobile      ios
 10          10        8  mobile      ios
 11          11        8  tablet      ios
 12          12        9  mobile      ios
 13          13        9  mobile      ios,
 'transactions':     transaction_id  session_id           timestamp      amount  approved
 0                0           0 2019-01-19 18:25:30  101.925182     False
 1                1           0 2019-01-19 18:25:34  101.949742     False
 2                2           2 2019-01-14 13:14:08   95.699116      True
 3                3           3 2019-01-08 12:34:42   78.785973      True
 4                4           4 2019-01-15 04:29:26   80.867056      True
 5                5           5 2019-01-04 12:24:52   89.159881      True
 6                6           5 2019-01-04 12:24:52   89.162301      True
 7                7           6 2019-01-16 00:58:43   94.032714      True
 8                8           7 2019-01-16 00:58:41   94.029848      True
 9                9           8 2019-01-16 00:58:44   94.037354      True
 10              10          12 2019-01-17 18:40:23  105.793596     False
 11              11          13 2019-01-17 18:40:23  105.793777     False}

### Save and Load the model

In many scenarios it will be convenient to generate synthetic versions
of your data directly in systems that do not have access to the original
data source. For example, if you may want to generate testing data on
the fly inside a testing environment that does not have access to your
production database. In these scenarios, fitting the model with real
data every time that you need to generate new data is feasible, so you
will need to fit a model in your production environment, save the fitted
model into a file, send this file to the testing environment and then
load it there to be able to `sample` from it.

Let's see how this process works.

#### Save and share the model

Once you have fitted the model, all you need to do is call its `save`
method passing the name of the file in which you want to save the model.
Note that the extension of the filename is not relevant, but we will be
using the `.pkl` extension to highlight that the serialization protocol
used is [pickle](https://docs.python.org/3/library/pickle.html).

In [8]:
model.save('my_model.pkl')

This will have created a file called `my_model.pkl` in the same
directory in which you are running SDV.

<div class="alert alert-info">

**Important**

If you inspect the generated file you will notice that its size is much
smaller than the size of the data that you used to generate it. This is
because the serialized model contains **no information about the
original data**, other than the parameters it needs to generate
synthetic versions of it. This means that you can safely share this
`my_model.pkl` file without the risc of disclosing any of your real
data!

</div>

#### Load the model and generate new data

The file you just generated can be send over to the system where the
synthetic data will be generated. Once it is there, you can load it
using the `HMA1.load` method, and then you are ready to sample new data
from the loaded instance:

In [9]:
loaded = HMA1.load('my_model.pkl')
new_data = loaded.sample()
new_data.keys()

dict_keys(['users', 'sessions', 'transactions'])

<div class="alert alert-warning">

**Warning**

Notice that the system where the model is loaded needs to also have
`sdv` installed, otherwise it will not be able to load the model and use
it.

</div>

### How to control the number of rows?

In the steps above we did not tell the model at any moment how many rows
we wanted to sample, so it produced as many rows as there were in the
original dataset.

If you want to produce a different number of rows you can pass it as the
`num_rows` argument and it will produce the indicated number of rows:

In [10]:
model.sample(num_rows=5)

{'users':    user_id country gender  age
 0       10      DE    NaN   23
 1       11      ES      M   31
 2       12      FR      F   24
 3       13      ES      M   44
 4       14      UK      M   30,
 'sessions':    session_id  user_id  device       os
 0          14       11  mobile      ios
 1          15       12  tablet      ios
 2          16       12  tablet      ios
 3          17       12  tablet      ios
 4          18       13  mobile      ios
 5          19       14  mobile  android
 6          20       14  tablet  android,
 'transactions':    transaction_id  session_id           timestamp      amount  approved
 0              12          14 2019-01-24 01:00:47  110.945517     False
 1              13          15 2019-01-19 01:05:41   97.245338      True
 2              14          16 2019-01-18 23:50:38   96.259050      True
 3              15          17 2019-01-19 00:53:10   97.089135      True
 4              16          19 2011-03-28 05:31:08   42.492011     False
 5              17          19 2019-04-25 20:56:33   42.492011     False
 6              18          19 2016-01-26 11:34:53   42.492011     False}

<div class="alert alert-info">

**Note**

Notice that the root table `users` has the indicated number of rows but
some of the other tables do not. This is because the number of rows from
the child tables is sampled based on the values form the parent table,
which means that only the root table of the dataset is affected by the
passed `num_rows` argument.

</div>

### Can I sample a subset of the tables?

In some occasions you will not be interested in generating rows for the
entire dataset and would rather generate data for only one table and its
children.

To do this you can simply pass the name of table that you want to
sample.

For example, pass the name `sessions` to the `sample` method, the model
will only generate data for the `sessions` table and its child table,
`transactions`.

In [11]:
model.sample('sessions', num_rows=5)

{'sessions':    session_id  user_id  device       os
 0          21       15  mobile      ios
 1          22       19  mobile      ios
 2          23       17  mobile  android
 3          24       17  mobile  android
 4          25       19  mobile      ios,
 'transactions':    transaction_id  session_id           timestamp      amount  approved
 0              19          22 2019-01-29 20:51:41  109.071195      True
 1              20          23 2019-01-03 11:40:22   93.028798      True
 2              21          24 2019-01-14 03:55:13   86.394793      True
 3              22          25 2019-01-20 21:44:37  114.092958     False
 4              23          25 2019-01-20 21:44:37  114.092961     False}

If you want to further restrict the sampling process to only one table
and also skip its child tables, you can add the argument
`sample_children=False`.

For example, you can sample data from the table `users` only without
producing any rows for the tables `sessions` and `transactions`.

In [12]:
model.sample('users', num_rows=5, sample_children=False)

   user_id country gender  age
0       20      US      M   26
1       21      FR      F   36
2       22      US    NaN   46
3       23      US      M   37
4       24      BG    NaN   48

<div class="alert alert-info">

**Note**

In this case, since we are only producing a single table, the output is
given directly as a `pandas.DataFrame` instead of a dictionary.

</div>